extends layout

block content
	h1 Ruiditos
	p Welcome to #{title}
	p relaxing background sounds mixer

block mixer
	h2 mixer
		input(id='v1' ,type='number', value=0, min=0, max=9)
		input(id='v2' ,type='number', value=0, min=0, max=9)
		input(id='v3' ,type='number', value=0, min=0, max=9)
		input(id='v4' ,type='number', value=0, min=0, max=9)
		input(id='v5' ,type='number', value=0, min=0, max=9)

